<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /ed-expansion/
    RewriteRule ^index\.html$ - [L]
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule . /ed-expansion/index.html [L]
</IfModule>