:local(.contenedorProgreso) {
    min-height: 25px;
    padding-bottom: 10px;
    text-align: center;
    margin: auto;
    width: 100%;
}

:local(.puntosProgreso) {
    margin: auto;
    width: 15px;
    aspect-ratio: 1;
    position: relative;
    animation: d9-0 1.0s infinite steps(2);
}

:local(.puntosProgreso)::before,
:local(.puntosProgreso)::after {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 50%;
    background: #000;
}

:local(.puntosProgreso)::before {
    box-shadow: 26px 0;
    transform: translateX(-26px);
    animation: d9-1 0.5s infinite linear alternate;
}

:local(.puntosProgreso)::after {
    transform: translateX(13px) rotate(0deg) translateX(13px);
    animation: d9-2 0.5s infinite linear alternate;
}

@keyframes d9-0 {
    0%,
    49.9% {
        transform: scale(1);
    }
    50%,
    100% {
        transform: scale(-1);
    }
}

@keyframes d9-1 {
    100% {
        box-shadow: 52px 0;
    }
}

@keyframes d9-2 {
    100% {
        transform: translateX(13px) rotate(-180deg) translateX(13px);
    }
}
